.homeContainer {
  padding: 30px;
  flex-grow: 1; /* Permite que o conteúdo cresça e ocupe o espaço disponível */
}

.homeContainer h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  border-bottom: 2px solid #444; /* Linha divisória  */
  padding-bottom: 15px;
}

.filmesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Deixa os cards numa coluna bonitinho */ 
  gap: 40px; /* Espaçamento maior entre os cards */
  justify-content: center; /* Centraliza os cards no grid */
  padding: 20px 0;
}

.searchBarContainer {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 80%; 
  max-width: 500px; /* Limite máximo para a largura do input */
  padding: 12px 20px;
  border: 2px solid #e50914; /* Borda com cor de destaque */
  border-radius: 8px;
  background-color: #3a3a3a; /* Fundo escuro */
  color: #f5f5f5; /* Texto claro */
  font-size: 1.1em;
  outline: none; /* Remove a borda de foco padrão */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput::placeholder {
  color: #aaa; /* Cor do placeholder */
  opacity: 0.8;
}

.searchInput:focus {
  border-color: #ff4500; 
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.3); /* Sombra de foco */
}

.homeContainer .filmesGrid {
  margin-top: 20px; /* Garante que o grid não fique colado na search bar */
}
